body {
    font-family: monospace;
    background: #f2f2f2;
    padding: 20px;
}

.input-section {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

input, button {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    font-size: 14pt;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background: #d32f2f;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover { background: #b71c1c; }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 16pt;
}

th, td {
    border-bottom: 1px dashed #000;
    padding: 4px;
    text-align: left;
}

.total {
    font-size: 18pt;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}

/* Recibo para impressão */
.reciboPrint {
    display: none; /* invisível na tela */
    max-width: 80mm;
    margin: auto;
    background: white;
    padding: 10px;
}

.reciboPrint h1 {
    text-align: center;
    font-size: 26pt;
    color: #d32f2f;
    margin-bottom: 10px;
}

#nomeRecibo {
    font-size: 16pt;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

@media print {
    body * { visibility: hidden; }
    .reciboPrint, .reciboPrint * { visibility: visible; }
    .reciboPrint { width: 80mm; font-size: 16pt; }
}
